body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 500;
	font-size: 34px;
	color: #333;
	text-transform: uppercase;
}
h3 {
	font-size: 22px;
	font-weight: 500;
	color: #333;
}
h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 16px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #8eb640;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	-webkit-padding: 0;
	-moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #2a1000;
	margin: 0;
	margin-bottom: 30px;
	border: 0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

/* Navigation 
---------------------------------*/
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-size: 28px;
	color: #fff;
	font-weight: 600;
}

.navContact{
    display: inline-block;
    color: #fff;
    padding: 20px 0 0;
}

#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	padding: 5px 0;
	border: 2px solid transparent;
	letter-spacing: 0.5px;
	margin: 10px 15px 0 15px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #b9b9b9;
}
.on {
	background-color: #2a1000 !important;
	padding: 0 !important;
	padding: 10px 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #929292 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: rgba(0,0,0,0);
	border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}

.navbar-collapse{
    background: rgba(42, 16, 0,.9);
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}

.section-title {
	margin-bottom: 70px;
}

.section-title .overlay {
	padding: 100px 0;
	background: rgba(0, 0, 0, 0.4);
}

.section-title p {
	font-size: 22px;
	color: rgba(255,255,255,0.8);
}

.section-title h2:nth-of-type(2){
    margin: 0;
}

.section-title hr {
	margin: 0 auto;
    background: #fff;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
    background-color: #2a1000;
	border: 0;
    padding: 14px 20px;
	margin: 20px 0 0;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	border-radius: 0;
	transition: all 0.5s;
}
#portfolio .btn-custom {
    width: 130px;
    margin: 20px calc(50% - 65px) 0;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: rgba(42,16,0,.9);
}

/* Header Section 
---------------------------------*/
.header .slider{
    width: 100%;
    
}

.slick-dots{
    display: flex;
    position: absolute;
    left: calc(50% - 68px);
    bottom: 40px;
    text-indent: -9999px;
}

.slick-dots li{
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255,.6);
    margin: 0 8px 0 0;
    z-index: 2;
}

.slick-dots li:last-child{
    margin: 0;
}

.slick-dots .slick-active{
    background: rgba(255, 255, 255,.9);
}

.slideItem{
    width: 100%;
    height: 300px;
    background: #444;
    position: relative;
}

.slideItem p{
    position: absolute;
    font-size: 22px;
    color: #fff;
    right: 20px;
    top: 20px;
}

.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url('../img/topBg.jpg');
	background-size: 1500px;
}
.intro .overlay {
    height: 100vh;
	background: rgba(0,0,0,0.4);
}
.intro h1 {
	color: #fff;
	font-size: 5em;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 10px;
    padding: 0 15px;
}
.intro span {
	color: #a7c44c;
	font-weight: 600;
}
.intro p {
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 30px;
    padding: 0 15px;
}
header .intro-text {
    padding: 130px 0 150px 0;
	text-align: center;
}

/* About Section 
--------------------------------*/
#about {
	padding: 100px 0;
}

#about .about-img {
	display: flex;
    flex-flow: wrap;
    justify-content: center;
	position: relative;
}

#about p {
	line-height: 24px;
	margin: 15px 0 30px;
    font-size: 18px;
}

/* Pay section
-----------------------------------*/
#pay .section-title{
		background: #444 url(../img/about.jpg) center center no-repeat fixed;
	background-size: cover;
	margin-bottom: 50px;
}

#pay .section-title h2 {
	color: #fff;
}

/* Portfolio Section 
------------------------------------*/
#portfolio {
	padding: 0 0 60px 0;
}
#portfolio .section-title {
	background: #444 url(../img/team-bg.jpg) center center no-repeat fixed;
	background-size: cover;
	margin-bottom: 50px;
}
#portfolio .section-title h2 {
	color: #fff;
}

.priceLable{
    display: inline-block;
    position: absolute;
    padding: 0 10px;
    top: 20px;
    right: 0;
    text-align: center;
    color: #000;
    font-size: 14px;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}

.priceLable p{
    margin: 0;
}

.priceLable span{
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin: 0 10px;
	padding: 20px 0;
}
ol.type li a {
	color: #999;
	font-weight: 500;
	font-size: 14px;
	padding: 12px 24px;
	background: #eee;
	border: 0;
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
ol.type li a.active {
	color: #fff;
	background-color: #2a1000;
}
ol.type li a:hover {
	color: #fff;
	background-color: #190900;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
}
.portfolio-item .hover-bg {
	position: relative;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: rgba(0, 0, 0, 0.3);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
    border-radius: 5px;
	opacity: 1;
}
.hover-bg .hover-text>h4 {
	opacity: 1;
	color: #fff;
	font-size: 20px;
	letter-spacing: 0.5px;
	font-weight: 500;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}

.hover-text .btn-custom{
    text-transform: none;
    background: rgba(0,0,0,0.5);
    border: 2px solid #fff;
    font-size: 18px;
    width: auto !important;
    padding: 10px;
    margin: 25px auto 0!important;
}

textarea.form-control{
    max-width: 100%;
}

/* PopUp
------------------------------------*/

.overlay_popup {
	display:none;
	position:fixed;
	z-index: 99;
	top:0;
	right:0; 
	left:0;
	bottom:0;
	background:#000; 
	opacity:0.5;
}

.popup {
	display: none;
	position: absolute;
	z-index: 100;
	margin:0 10% 0 10%;
    width:80%;
    background:rgba(255,255,255,.9);
    color:#000;
    padding: 20px;
    border-radius: 5px;
}

.popup p{
    font-size: 24px;
    font-weight: 600;
}
.popup article{
    font-size: 18px;
}

/* Contact Section 
--------------------------------------*/
#contact .section-title{
    background: #444 url(../img/intro-bg.jpg) center center no-repeat fixed;
    background-size: cover;
    margin: 50px 0;
}

#contact  .section-title h2 {
    color: #fff;
    margin: 0 0 20px;
}

#contact {
	padding: 0 0 30px;
	background: #F6F6F6;
}
#contact .section-title p {
	color: #777;
}

#contact .contact-item {
	margin: 20px 0 40px 0;
}
#contact .contact-item span {
	font-weight: 400;
	color: #aaa;
	text-transform: uppercase;
	margin-bottom: 6px;
	display: inline-block;
}
#contact .contact-item p {
	font-size: 16px;
}

/* Footer Section
------------------------------------*/
#footer {
	background: #2a1000;
	padding: 0;
}
#footer h3 {
	color: #8eb640;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#footer .copyrights {
	padding: 20px 0;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#779936+0,8eb640+50 */
	/*background: rgb(119,153,54);  Old browsers */
	/*background: -moz-linear-gradient(top, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 50%);  FF3.6-15 */
	/*background: -webkit-linear-gradient(top, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 50%);  Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to bottom, rgba(119,153,54,1) 0%, rgba(142,182,64,1) 50%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#779936', endColorstr='#8eb640', GradientType=0 ); /* IE6-9 */
}
#footer .social {
	margin: 20px 0 30px 0;
}
#footer .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#footer .social i.fa {
	font-size: 26px;
	padding: 4px;
	color: #fff;
	transition: all 0.3s;
}
#footer .social i.fa:hover {
	color: #eee;
}
#footer p {
	font-size: 15px;
	color: rgba(255,255,255,0.8)
}
#footer a {
	color: #f6f6f6;
}
#footer a:hover {
	color: #333;
}


/* MEDIA
------------------------------------------*/
@media screen and (min-width: 375px){
    header .intro-text {
        padding: 170px 0 150px 0;
    }
}

@media screen and (min-width: 414px){
    header .intro-text {
        padding: 200px 0 150px 0;
    }
    
    .intro p{
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 768px){
    .intro{
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    
    .intro p{
        font-size: 32px;
    }

    header .intro-text {
        padding: 300px 0 150px 0;
    }
    
    .popup {
        margin:150px 25% 0 25%;
        width:50%;
    }
    
    .navbar-collapse{
        background: none;
    }
    
    #menu.navbar-default .navbar-nav > li > a{
        margin: 10px 15px 0 0;
    }
    
    .navbar-brand{
        padding: 15px 0 0 15px;
    }
    
    .navContact{
        display: none;
    }
    
    .slick-dots{
        left: calc(50% - 57px);
    }

    .slick-dots li{
        width: 18px;
        height: 18px;
        margin: 0 30px 0 0;
    }
}

@media screen and (min-width: 1024px){
    header .intro-text {
        padding: 250px 0 150px 0;
    }
    
    .hover-bg .hover-text {
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: all 0.5s;
    }
    .hover-bg .hover-text>h4 {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        transition: all 0.3s;
    }
    
    .hover-text .btn-custom{
        transition: all 1s;
    }
    
    .hover-text .btn-custom:hover{
        border: 2px solid #fff;
        background: rgba(0,0,0,0);
    }
    
    .popup {
        margin:50px 25% 0 25%;
        width:50%;
    }
    
    .navContact{
        display: inline-block;
        padding: 10px 0 0 50px;
    }
    .navbar-brand{
        padding: 25px 0 0 15px;
    }
    .navbar-nav{
        padding: 10px 0 0;
    }
}

@media screen and (min-width: 1200px){
    header .intro-text {
        padding: 250px 0 150px 0;
    }
}

@media screen and (min-width: 1680px){
    header .intro-text {
        padding: 350px 0 150px 0;
    }
}

